{# templates/eleve/ajouter.html.twig #}

    
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'header.html' %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
		<div class="container">   
    	<div class="d-flex align-items-center">
		<h5>PAGE DE MODIFICATION D'UN ELEVE</h5>
		<table>
        </br>
       
{{ form_start(form) }}{{ form_widget(form) }}
{{ form_end(form) }}

	</div>
    </body>
</html>

