<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>       
		<h5>PAGE DE CONSULTATION D'UN ELEVE</h5>
 <p>
    <table>
      <tr><td>Nom : </td><td>{{eleve.nom}}</td>
      <tr><td>Prénom : </td><td>{{eleve.prenom}}</td></tr></tr>
    
      
    </table>

    </body>
</html>