<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'header.html' %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
		<div class="container">   
    	<div class="d-flex align-items-center">
		<h5>Liste des élèves :</h5>
		<table>
        </br>
        <table class="table">
		<tr>
		<td>nom</td>
		<td>prenom</td>
		</tr>
		{% for e in pEleves %}
		<tr>
			<td><a href="{{ path('eleveConsulter', { 'id': e.id }) }}">{{ e.nom }}</a></td>
			<td><a href="{{ path('eleveConsulter', { 'id': e.id }) }}">{{ e.prenom }}</a></td>
			
            {% else %}
                <tr>
                <td style="color : red;">Aucun eleve n'a été trouvé.</td>
            </tr>
            {% endfor %}
        </table>
        <a class="btn btn-primary" href="http://localhost/goat/public/eleve/ajouter/">Ajouter</a>
	</div>
    </body>
</html>