<!DOCTYPE html>
<html>
    <head>
    <title>Consulter professeurs</title>    
    </head>
    <body>
    {% include 'header.html' %}

    <div class="container">   
    <div class="d-flex align-items-center">
    <h1>S'inscrire</h1>
    </div>
    {% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.identifiant) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        <br>
        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
    </div>
    </body>
</html>