<!DOCTYPE html>
<html>
    <head>
    <title>Consulter professeurs</title>    
    </head>
    <body>
    {% include 'header.html' %}

    <div class="container" style="width: 48rem;">
    <div class="align-self-center">
    <h3>S'inscrire</h3>
    {% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        <br>
        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
    </div>
    </div>
    </body>
</html>