
{# templates/coueleur/ajouter.html.twig #}
    
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'header.html' %}
        {% include 'footer.html' %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
		<div class="container">   
    	<div class="d-flex align-items-center">
		<h5>AJOUT D'UNE COULEUR</h5>
		<table>
        </br>
        <table class="table">
       
{{ form_start(form) }}
{{ form_widget(form) }}

{{ form_end(form) }}
 <tr>      
            </tr>
        </table>
	</div>
    </body>
</html>

<style>
.cours{
    margin: 10px;
}
</style>