<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>       
		<h5>PAGE DE CONSULTATION D'UNE COULEUR</h5>
 <p>
    <table>
      <tr><td>Id : </td><td>{{couleur.id}}</td>
      <tr><td>Libelle : </td><td>{{couleur.nom}}</td></tr></tr>
 
    </table>

    </body>
</html>