<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>       
		<h5>PAGE DE CONSULTATION D'UN INSTRUMENTS</h5>
 <p>
  <table >
     <tr><td>Id : </td><td>{{instrument.id}} </td></tr>
	<tr><td>Nom : </td><td>{{instrument.nom}}</td>
	
 </table>
	
	 
    </body>
</html>