<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
	{% include 'header.html' %}
	{% include 'footer.html' %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
		<div class="container">   
    	<div class="d-flex align-items-center">
		<h5>Liste des instruments :</h5>
		
		</div>
		<a class="btn btn-success" href="http://localhost/goat/public/marque/ajouter/">Ajouter une marque</a>
		<a class="btn btn-success" href="http://localhost/goat/public/couleur/ajouter/">Ajouter une couleur</a>
</br><table>
        </br>
		<table class="table">
		<tr>
		<td>Nom</td>
		</tr>
		{% for e in instruments %}
		<tr>
			<td><a href="{{ path('instrumentConsulter', { 'id': e.id }) }}">{{ e.nom }}</a></td>
	{% else %}
		<tr>
		<td style="color : red;">Aucun instrument n'a été trouvé.</td>
		</tr>
	{% endfor %}
</table>
 </tr>
	</table>
	{% if is_granted('ROLE_ADMIN') %}
    	<a class="btn btn-primary" href="http://localhost/goat/public/instrument/ajouter/">Ajouter</a>
	{% endif %}
	</div>
	
    </body>
</html>