<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
	{% include 'header.html' %}
	{% include 'footer.html' %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
		<div class="container">   
    	<div class="d-flex align-items-center">
		<h5>Liste des instruments :</h5>
		</div>
		


		 {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-success" href="http://localhost/goat/public/admin/marque/ajouter/">Ajouter une marque</a>
		<a class="btn btn-success" href="http://localhost/goat/public/admin/couleur/ajouter/">Ajouter une couleur</a>
		<a class="btn btn-primary" href="http://localhost/goat/public/admin/instrument/ajouter/">Ajouter un instrument</a>
		<a class="btn btn-primary" href="http://localhost/goat/public/intervention/ajouter/">Ajouter un intervention</a>
		{% endif %}
</br><table>
        </br>
		<table class="table">
		<tr>
		<td>Nom</td>
		</tr>
		{% for e in pinstruments %}
		<tr>
			<td><a href="{{ path('instrumentConsulterType', { 'id': e.id }) }}">{{ e.libelle }}</a></td>
	{% else %}
		<tr>
		<td style="color : red;">Aucun instrument n'a été trouvé.</td>
		</tr>
	{% endfor %}
</table>
 </tr>
	</table>
    	
	</div>
	
    </body>
</html>