<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
	{% include 'header.html' %}
	{% include 'footer.html' %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
		<div class="container">   
    	<div class="d-flex align-items-center">
		<h5>Liste les intervention :</h5>

        </div>
		{% if is_granted('ROLE_ADMIN') %}
		<a class="btn btn-success" href="http://localhost/goat/public/admin/intervention/ajouter/">Ajouter un intervention</a>

		 {% endif %}
</br><table>
        </br>
		<table class="table">
		<tr>
		<td>Nom de l'intervention</td>
		</tr>
		{% for e in pinterventions %}
		<tr>
			<td><a href="{{ path('interventionConsulter', { 'id': e.id }) }}">{{ e.instrument.nom  }}</a></td>
	{% else %}
		<tr>
		<td style="color : red;">Aucun intervention n'a été trouvé.</td>
		</tr>
	{% endfor %}
</table>
	</div>
    </body>
</html>