<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body> 
    {% include 'header.html' %}
    {% include 'footer.html' %}
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
		<div class="container">   
    <div class="d-flex align-items-center">
		<h5>PAGE DE CONSULTATION D'UN ACCESSOIRE <strong>{{accessoire.libelle}}</strong></h5>
		<table>
      </br>
        <table class="table">
    	<tr>

		<td>Id</td>
    <td>Libelle</td>

		</tr>
		<tr>
      <td>{{accessoire.id}}</td>
      <td>{{accessoire.libelle}}</td>
                <tr>      
            </tr>
        </table>
	</div>
    </body>
</html>