{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
{% include 'header.html' %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container" style="width: 48rem;">
<div class="align-self-center">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Bienvenue</h5>
    <p class="card-text">La musique fait partie intégrante de la vie humaine. Elle a le pouvoir d'exprimer des pensées et des émotions et est une source d'inspiration. La musique peut être un sujet difficile à maîtriser, mais elle peut aussi être un passe-temps enrichissant. Si vous voulez devenir musicien professionnel ou si vous souhaitez apprendre pendant votre temps libre, <b>e-Music est fait pour vous.</b></p>
<p class="card-text">
Les bonnes habitudes d'étude consistent à assister régulièrement à des conférences et à des répétitions et à garder vos cahiers propres. Vous devrez également participer à des devoirs et à des révisions qui vous aideront à apprendre votre matière. Obtenir de bonnes notes vous aide à éviter de prendre du retard dans vos cours et oblige les instructeurs à suivre votre rythme avec le reste de la classe. De solides habitudes d'étude vous permettront de rester concentré pendant que vous apprenez de nouvelles théories musicales.
</p>
</div>
</div>
</div>
</div>
<br>
<div class="container" style="width: 48rem;">
<div class="align-self-center">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/goat/public/img/carou1.png" alt="First slide">
       <div class="carousel-caption d-none d-md-block">
    	<h5>Des cours faciles d'accès.</h5>
  		</div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/goat/public/img/carou2.png" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
    	<h5>Du matériel à louer.</h5>
  		</div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/goat/public/img/carou3.png" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
    	<h5>Du matériel de qualité.</h5>
  		</div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Précédent</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Suivant</span>
  </a>
</div>
</div>
</div>
{% endblock %}
